/* main {
	min-height: 100vh;
} */
.home-screen-container {
	min-height: 100vh; /* Ensure the container takes at least the full viewport height */
	padding: 20px; /* Adjust padding as needed */
	box-sizing: border-box; /* Include padding in the total width/height */
}
.custom-navbar {
	color: #ffbf00;
}
.custom-brand {
	font-size: 2rem;
	weight: bold;
	margin-right: 5px;
}
.logo {
	margin-right: 20px;
}

.rating span {
	margin: 0.1rem;
}

.rating svg {
	color: #f8e825;
}

.rating-text {
	font-size: 0.8rem;
	font-weight: 600;
	padding-left: 0.5rem;
}

.product-title {
	height: 2.5em; /* Set a fixed height */
	overflow: hidden; /* Hide overflow content */
	text-overflow: ellipsis; /* Add ellipsis for long text */
	white-space: nowrap; /* Prevent wrapping */
}

table td,
table th {
	text-align: center;
}

.review {
	margin-top: 30px;
}

.review h2 {
	font-size: 24px;
	background: #f4f4f4;
	padding: 10px;
	border: 1px solid #ddd;
}

.review button {
	margin-top: 10px;
}

.card-img {
	height: 300px;
}
.carousel-caption {
	position: absolute;
	width: 100%;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
}
@media (max-width: 767px) {
	.card-img {
		height: auto;
	}
}
